lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.zip

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

generated/*

templates/rasa/.rasa/*
templates/rasa/data/*
templates/rasa/models/*
templates/rasa/tensorboard/*
templates/rasa/tests/*
templates/rasa/domain.yml
